body {
    font-family: sans-serif;
  }
  
  .autocomplete__search {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .autocomplete__sectionWrapper {
    display: none;
    border: 1px solid silver;
  }
  
  .autocomplete__sectionActive {
    display: block;
  }
  